.hidden {
    display: none;
}

body {
    font-family: "faricy-new-web", sans-serif;
    font-size: 15px;
    padding: 10px;
    height: 100%;

    background-color: #e5e5e5;
}

h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
}

h2 {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.transcript {
    position: absolute;
    width: 500px;
    top: 10px;
    left: 400px;
    bottom: 10px;

    color: #333;
    font-size: 16px;
    padding: 10px;
}

.madeby {
    position: absolute;
    bottom: 20px;
}

#holder {
    border: 5px dashed #ccc;
    width: 300px;
    height: 60px;
    margin: 0 0 20px 0;
    line-height: 60px;
    text-align: center;
}

#holder.hover {
    border: 5px dashed #333;
}
