.hidden {
    display: none !important;
}

.invisible {
    opacity: 0 !important;
    pointer-events: none;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "faricy-new-web", sans-serif;
    font-size: 16px;
    padding: 30px 10px 10px 10px;

    background-color: #e5e5e5;
    background: linear-gradient(#f0f0f0, #e0e0e0);
    color: #333;
}

a, a:link, a:visited, a:active {
    color: #f92672;
    text-decoration: none;
}

p {
    margin-top: 0;
}

header {
    margin-top: 20px;
    padding-bottom: 10px;
}

h1 {
    font-size: 40px;
    margin: 10px 0;
    padding: 10px 0 0 0;
}

h2 {
    font-size: 20px;
    margin: 0 0 20px 0;
    width: 460px;
}

.logo {
    float: left;
    margin: 0 20px 20px 0;
    width: 100px;
}

.intro {
    font-size: 17px;
    margin-left: 120px;
    width: 340px;
    border-top: 1px solid #ccc;
    padding-top: 30px;
}

.duration-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    height: 20px;

    background-color: rgb(189, 227, 235);
    cursor: pointer;
    transition: opacity 200ms;
}

.duration-container.ready {
    opacity: 1.0;
}

.duration {
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(104, 207, 226);
}

.time-label {
    position: fixed;
    top: 0;
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.current-time {
    left: 5px;
}

.end-time {
    right: 5px;
}

.media {
    display: block;
    clear: both;
    margin: 40px 0 30px 0;
    width: 460px;
}

.help {
    clear: both;
    margin-top: 30px;
}

.help ul {
    padding-left: 30px;
}

.help em {
    background-color: #d5d5d5;
    padding: 2px 8px;
    font-family: monospace;
    border-radius: 3px;
}

.transcript-container {
    background-color: white;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 520px;
    right: 0px;
    padding: 30px 0 0 0;
    border-left: 1px solid #ddd;
}

.dropbox {
    color: #666;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.dropbox-info {
    position: relative;
    top: 94px;
    font-size: 20px;
}

.dropbox.hover {
    color: rgb(104, 207, 226);
}

.transcript {
    height: 100%;
    width: 100%;

    border: 0;
    box-sizing: border-box;
    border-radius: 3px;
    color: #333;
    font-family: "faricy-new-web", sans-serif;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 30px 30px 30px;
    outline: 0;
    transition: opacity 500ms;
}

.madeby {
    position: absolute;
    bottom: 20px;
}

.count {
    padding: 10px 0;
    margin-left: 30px;
}

.word-count {
    font-weight: bold;
}

.button.download-file {
    margin-left: 30px;
}

.button {
    display: block;
    margin: 10px 0;
}

.button {
    padding: 10px 20px;
    margin: 20px 0;
    display: inline-block;
	text-decoration: none;
	font-weight: 700;
    font-size: 15px;
	background-color: #eaeef1;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
	border-radius: 3px;
	color: #333;
	text-shadow: 0 1px 1px rgba(255,255,255,.7);
	box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

a.button { color: #333; }

.button:hover, .button.hover {
	background-color: #fff;
}

.button:active, .button.active {
	background-color: #d0d3d6;
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
	box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
    }
}

.animated {
    -webkit-animation-delay: .5s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.bounce {
    -webkit-animation-name: bounce;
}
